---
interface Props {
  logo: string;
  fontFamily?: string;
  text: string;
  registrationNumber:string;
  VAT: string;
  companyName?: string;
  companyAddress?: string;
  companyAddressLine2?: string;
  country?: string;
  emailLabel?: string;
  email?: string;
  phoneLabel?: string;
  phone?: string;
  addressTitle?: string;
  impressumTitle?: string;
  contactTitle?: string;
  privacyPolicyText?: string;
  privacyPolicyUrl?: string;
  legalNoticeText?: string;
  legalNoticeUrl?: string;
}

const { 
  logo,
  fontFamily,
  text,
  registrationNumber,
  VAT,
  companyName = "IteraNova d.o.o.",
  companyAddress = "Rače, Slovenia",
  companyAddressLine2,
  country,
  emailLabel,
  email = "info@itera-nova.com",
  phoneLabel,
  phone,
  addressTitle = "Address",
  impressumTitle = "Legal Infromation",
  contactTitle = "Contact",
  privacyPolicyText = "Privacy Policy",
  privacyPolicyUrl = "/privacy",
  legalNoticeText = "Legal Notice",
  legalNoticeUrl = "/legal"
} = Astro.props;
---

<section id="footer" class="min-h-[60vh] flex items-center justify-center bg-gray-900 text-white px-5 py-20 md:py-0">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 md:gap-12 mb-8">
      
      <div class="text-left">
        <div class="text-sm md:text-base space-y-1">
          <h1 class={`text-3xl ${fontFamily}`}>
            <span class="font-normal text-primary-light1">Itera</span><span class="font-bold text-primary-light2">Nova</span>
          </h1>
        </div>
      </div>
      
      <!-- Address Section -->
      <div class="text-left">
        <h3 class="text-xl md:text-2xl font-bold mb-4 md:mb-6">{addressTitle}</h3>
        <div class="text-sm md:text-base space-y-1">
          <p>{companyAddress}</p>
          {companyAddressLine2 && <p>{companyAddressLine2}</p>}
          {country && <p>{country}</p>}
        </div>
      </div>

      <!-- Contact Section -->
      <div class="text-left">
        <h3 class="text-xl md:text-2xl font-bold mb-4 md:mb-6">{contactTitle}</h3>
        <div class="text-sm md:text-base space-y-1">
          <p>{emailLabel}<a href={`mailto:${email}`} class="hover:text-primary transition-colors">{email}</a></p>
          <p>{phoneLabel}{phone}</p>
        </div>
      </div>

      <!-- Impressum Section -->
      <div class="text-left">
        <h3 class="text-xl md:text-2xl font-bold mb-4 md:mb-6">{impressumTitle}</h3>
        <div class="text-sm md:text-base space-y-1">
          <a href={privacyPolicyUrl} class="hover:text-primary transition-colors">{privacyPolicyText}</a> <br />
          <a href={legalNoticeUrl} class="hover:text-primary transition-colors">{legalNoticeText}</a>
        </div>
      </div>
    </div>
    
    <!-- Copyright -->
    <div class="border-t border-gray-700 pt-6 md:pt-8 text-center">
      <p class="text-sm md:text-base mb-3">{text}</p>
      <p class="text-sm md:text-base mb-3">{registrationNumber}</p>
      <p class="text-sm md:text-base mb-3">{VAT}</p>
    </div>
  </div>
</section>
